body {
    margin: 0px;
}

/* Body Header */

main >section:nth-child(even){
        background-color: hsl(0deg 0% 94%);
}


#body-header {
    height: 65vh;
    opacity: 0.8;
    background-image: url(https://ninjasfiles.s3.amazonaws.com/asset_0000000000000020_1549743985_macbook_mouse.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Horizontal Lists */

.horizontal-list {
    list-style: none;
    padding-left: 0px;
/*     margin-top:0px; */
}

.horizontal-list li {
    display: inline-block;
    margin: 20px 20px 20px 0px;
    font-size:1.3rem;
}


.horizontal-list li a {
    color: white;
    text-decoration: none;
    transition: color 0.5s, border-bottom 4s;
}

.horizontal-list li a:hover {
    color: lightgrey;
    border-bottom: 1px solid white;
}

.text-center {
    text-align: center;
}

#naming{
    color:white;
    font-size:3.5rem;
    margin-top:8rem;
    margin-bottom:-1.5rem;
    
}

#social img{
/*     background-color:black; */
    width:30px;
    padding-top:15px
/*     border-radius:50%; */
}

#social li{
    height:60px;
    width:60px;
/*     background-color:black; */
    border-radius:50%;
}

#social li:hover{
/*     background-color:blue; */
    box-shadow:0px 0px 4px 4px rgba(230,196,196,0.3);
}

#aboutp1{
    height:14rem;
    width:14rem;
    margin:auto;
/*     background-color:black; */
    border-radius:50%;
    margin-top:-7rem;
    
    /*opacity:0.8;*/
    background-image: url(https://scontent.fdel29-1.fna.fbcdn.net/v/t39.30808-6/290801325_2666539293480677_115029894032401053_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=FMdyYFNpgJ0AX_mt7xN&_nc_ht=scontent.fdel29-1.fna&oh=00_AT-exWyia0R88ku4zkHVBi2Ih7b_Ycb3kSWr7cj80E97Ng&oe=62BF80A1);
    background-size: cover;
    background-position: center;
/*     https://drive.google.com/file/d/1zQXXreuVoRH1yB5VJOMGJfwOhjFzMwJm/view?usp=sharing */
    border:4px solid white;
    box-shadow:0px 0px 4px 4px lightgrey;

    position: relative;
}

#aboutp2{
    margin:20px 17vw;
    font-size:20px;
    line-height:1.3em;
color:grey;
width: 66vw;
}

#aboutp2 span{
    color:#2857a4;
    font-weight:bold;
    /*display: ;*/
}

.headingInGen{
        color: #2857a4;
        text-align: center;
        font-style: 800;
        font-size: 36px;
        padding: 50px;
        margin-bottom: 40px;
}



#lang
{
        width: 70vw;
    height: auto;
    margin: auto;
    padding-bottom: 50px;
    margin-bottom: 80px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

#lang >div{
        margin: 30px 80px 30px;
        /*margin-bottom: 0px;*/
        height: 1.8rem;
        width: 9rem;    
        border-radius: 1rem;
        background-color: hsl(0deg 0% 83%);
        box-shadow:inset 2px 2px hsl(0deg 0% 81%);
}

#lang>div div{
        height: inherit;
        background-color: hsl(217deg 61% 40%);
        border-radius: 20px 0px 0px 20px;
        box-shadow: 4px 0px 4px hsl(60deg 9% 58%);
}

#lang span{
        margin-left: 15px;
        color: white;
        font-size: 20px;
        font-weight: 400;
        vertical-align: middle;
}


#port{
        height: auto;
        display: flex;
        flex-flow: row wrap;
        /*border: 2px solid black;*/
        justify-content: space-around;
}

#port div{
        height: 16rem;
        width: 18rem;
        /*border: 2px solid black;*/
        margin: 0px 60px 60px;
}

#port div:hover{
        background-color: lightgrey;
        box-shadow: 0px 0px 8px 4px lightblue;
}

#port div img{
        width: inherit;
        height: inherit;
}


#contact{
        background: linear-gradient(90deg,#2857a4,#403066);

        color: white;
}


#message{
        display: inline-block;
        width: 48%;
        margin-left: 3%;
        
}

#details{
        display: inline-block;
        width: 40%;
        margin-left: 3%;
        vertical-align: top;
        font-size: 1.1rem;
}

#message input,textarea,button{
        display: block;
        margin: auto;
        margin-bottom: 40px;
        margin-top: 40px;
        background-color: inherit;
        border: none;

        width: 80%;

        border-bottom: 2px solid white;
        font-size: 1.1rem;
        color: white;
}

#cont button{
        width: 20%;
        border: 2px solid white;
        font-family: cursive;
}


#experience div{
        /*border: 2px solid black;*/
}


#exp{
        position: relative;
        margin: auto;
        width: 60%;


}

#exp>div{
        position: relative;
        width: 40%;
        min-height: 150px;
        margin: 20px;
        margin-left: 40px;
}

#exp>div:nth-child(2n){
        left: 50%;
}

#divider{
        position: absolute;
        width: 0;
        height: 80%;
        top: 10%;
        left: 50%;
        border: 3px dashed #0096fa6b;
}

#divider i{
        width: 0;
        position: sticky;
        top: 20%;
        transform: rotate(90deg) ;
        font-size: 2rem;
        color: hsl(217deg 61% 40%);
}

#exp aside{
        display: inline-block;
        width: 80%;
        text-align: right;
        vertical-align: top;
}

#exp >div>div>div{
        display: inline-block;
        width: 60px;
        height: 60px;
        /*margin-top: 10px;*/
}

#exp >div>div>div img{
        width: inherit;
        height: inherit;
}

.desig{
        font-weight: 600;
        font-size: 1.5rem;
        color: blue;
}

.compname{
        font-size: 1.3rem;
        font-weight: 500;
        color: orange;
}

.greyi{
        color: grey;
}

